# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py and eval.py automatically

KAGGLE_USERNAME="example"
KAGGLE_KEY="1234567890"
WANDB_API_KEY="1234567890"
WANDB_ENTITY_NAME=""
